[submodule "src/simde"]
	path = src/simde
	url = https://github.com/nemequ/simde-no-tests
[submodule "src/edlib"]
	path = src/edlib
	url = https://github.com/Martinsos/edlib.git
[submodule "src/s_gwfa"]
	path = src/s_gwfa
	url = https://github.com/Fzurbonsen/s_gwfa.git
[submodule "src/Complete-Striped-Smith-Waterman-Library"]
	path = src/Complete-Striped-Smith-Waterman-Library
	url = https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library.git
